@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	text-align: center;
}

/* Navigation menu */

.search-form {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 100%;
	padding: 10px 30px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(47, 62, 70, 0.5);
}

h1 {
	font-family: "Jost", sans-serif;
	font-size: 2.5rem;
	letter-spacing: 3px;
}

.search-bar {
	margin: 0 10px;
	width: 300px;
	padding: 3px;
	border-radius: 5px;
	height: 40px;
	font-family: inherit;
	font-size: 1rem;
	border: 0;
}

.search-button {
	height: 45px;
	padding: 0 10px;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	background-color: #3C096C;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

.search-button:hover {
	cursor: pointer;
	background-color: #7B2CBF;
}

/* Toggle switch */

.toggle-container {
	display: flex;
	align-items: center;
}

.toggle {
	visibility: hidden;
}

.label {
	position: relative;
	display: inline-block;
	background-color: #FF8500;
	width: 80px;
	height: 40px;
	border-radius: 50px;
	cursor: pointer;
	margin: 0 15px 0;
}

.toggle:checked + .label {
	background-color: #3C096C;
}

.ball {
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: #FFF;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
	animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
	0% {
	  transform: translateX(0px) scale(1);
	}
	50% {
	  transform: translateX(20px) scale(1.2);
	}
	100% {
	  transform: translateX(40px) scale(1);
	}
}

@keyframes slideOff {
	0% {
	  transform: translateX(40px) scale(1);
	}
	50% {
	  transform: translateX(20px) scale(1.2);
	}
	100% {
	  transform: translateX(0px) scale(1);
	}
}

/* Music display section */

.main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 100px;
}

/* Loading and error messages */

.loading {
  display: block;
  font-family: inherit;
}

.error {
  display: none;
  font-family: inherit;
}
